.timer {
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.value {
    font-size: 2rem;
}

.label {
    font-size: 0.9rem;
}

#datetime-picker {
    margin-top: 20px;
    padding: 8px;
    font-size: 16px;

}

button[data-start] {
    margin-left: 10px;
    padding: 8px 16px;
    font-size: 16px;

}